nav{
display: flex;
align-items: center;
justify-content: center;
gap: 13rem;
margin-top: 2.5rem;
}

nav .navbar{
    display: flex;
    align-items: center;
    gap: 16rem;
}
nav .navbar .logo {
    padding: 0.3125rem;
}

nav .navbar .logo a{
    color: #000;
    font-family: "Poppins",sans-serif;
    font-size: 3rem;
    font-weight: 900;
}

nav .navbar form input{
    width: 24.4375rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
    border: 1px solid #214E34;
    outline: none;
    color: rgba(0, 0, 0, 1);
    font-family: "Raleway",sans-serif;
    font-size: 1rem;
    font-weight: 300;

}

nav .navbar .login-signup{
    display: flex;
    gap: 2rem;
}

nav .navbar .login-signup a, nav .navbar .login-signup button{
    padding: 0.6rem 2rem;
    font-size: 1.3rem;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
}


nav .navbar .login-signup button.signup{
    background-color: #FFF;
    border-radius: 1.7rem;
    border: 0.063rem solid #214E34;
}

.cart{
    display: flex;
    position: relative;
}

.cart button{
    cursor: pointer;
}
.cart button svg{
    cursor: pointer;
}

.cart p {
    width: 2rem;
    height: 2rem;
    color: #F69522;
    text-align: center;
    font-family: "Poppins",sans-serif;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    right: -0.7rem;
    top: -0.8rem;
    background-color: #000;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
