<ng-container *ngIf="(products$ |async) as product">
    <section id="product-details">
        <div class="product-details">
            <img [src]="product.data?.productResponse?.productUrl" [alt]="product.data?.productResponse?.productName">
            <div class="product-desc">
                <div class="icons">
                    <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                    <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                    <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                    <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                    <fa-icon style="color: #F79522;" [icon]="haflIcon"></fa-icon>
                    <p> {{product.data?.productResponse?.rating}} of ({{product.data?.productResponse?.totalRatings}}
                        Reviews)

                    </p>
                </div>
                <div class="desc">
                    <h1> {{product.data?.productResponse?.productName}}</h1>
                    <h4>{{product.data?.productResponse?.price| currency}}</h4>
                    <h4>{{product.data?.productResponse?.category}}</h4>
                    <p>{{product.data?.productResponse?.description}}</p>
                    <button>add to cart</button>
                </div>

            </div>
        </div>
        <!-- review section -->
        <div class="product-review">
            <div class="reviews-user">
                <div>
                    <button>add review</button>
                </div>
                <div>
                    <div class="user-info">
                        <img [src]="product.user?.profile" alt="user">
                        <div class="user-names">
                            <span>{{product.user?.firstName}}</span>
                            <span>{{product.user?.lastName}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="reviews-list">
                <ul *ngFor="let review of product.data?.reviewResponse?.content">
                    <li>
                        <div class="rating-info">
                            <h1>{{review.rating}}</h1>
                            <p class="comment">{{review.comment}}</p>
                        </div>

                        <div class="rating-user">
                            <div>
                                <img [src]="review.reviewUserResponse.profileImage"
                                    [alt]="review.reviewUserResponse.firstName">
                                <p>{{review.reviewUserResponse.firstName}} {{review.reviewUserResponse.lastName}}</p>
                            </div>
                            <p>{{review.createdAt | date :'short'}}</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- recommended -->
        <div class="products">
            <div class="recommended-header">
                <h3>Recommended</h3>
            </div>
            <ul>
                <div *ngIf="recommendedList.length>0 then recommendProducts;else noRecommendedProducts"></div>
            </ul>
            <div class="pagination" *ngIf="recommendedList.length>0">
                <button [disabled]="product.data?.recommendedProducts?.first"
                    (click)="prevProductsByPage(product.data?.productResponse?.id)" class="prev">PREV</button>
                <h4>{{currentPage}}</h4>
                <button [disabled]="product.data?.recommendedProducts?.last"
                    (click)="nextProductsByPage(product.data?.productResponse?.id)" class="next">NEXT</button>
            </div>
        </div>
    </section>
</ng-container>

<ng-template #recommendProducts>
    <li *ngFor="let product of recommendedList">
        <div class="product-image">
            <img [src]="product.productUrl" [alt]="product.productName">
        </div>
        <div class="ratings">
            <div class="icons">
                <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                <fa-icon style="color: #F79522;" [icon]="haflIcon"></fa-icon>
                <p>{{product.rating}} of 5 ({{product.totalRatings}} reviews)
                </p>
            </div>
        </div>
        <h2>{{product.price | currency}}</h2>
        <h3>{{product.productName}}</h3>
        <h3>{{product.category}}</h3>
        <div class="actions">
            <button (click)="productDetails(product.id)" class="view">view</button>
            <button class="add-cart">add to cart</button>
        </div>
    </li>
</ng-template>
<ng-template #noRecommendedProducts>
    <p class="text-2xl">There is no recommended products</p>
</ng-template>