
.top-rated-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.top-rated-nav h1{
    font-size: 1.3rem;
    font-weight: 700;
}

.top-rated-nav button {
    padding: 0.2rem 0.6rem;
    background-color: #fff;
    border: 0.06rem solid seagreen;
    margin-left: 0.4rem;
    border-radius: 0.4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 1rem;
    margin: 1rem auto;
    cursor: pointer;
}
table tbody tr img{
    width: 3rem;
    height: 3rem;
}
table tbody tr{
    background-color: #fff;
    box-shadow: 0 0  4px rgba(0, 0, 0, 0.3);
}

table tbody tr td {
    text-align: start;
    vertical-align: middle;
    padding: 0.3rem;
}

table tbody tr td:first-child {
    padding-left: 1rem;
}

table tbody tr:hover{
    background-color: darkgreen;
    color: #fff;
}

/* pagination */
.pagination{
    display: flex;
    gap: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
    align-items: center;
    padding: 1rem;
    width: 15rem;
}

.pagination button{
    padding: 0.3rem 1rem;
    background: #FFF;
    font-family: "Raleway",sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    border:0.06rem solid seagreen;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
    border-radius: 0.4rem;
}

.pagination h4{
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
}