.recommended{
    display: flex;
    width: 80rem;
    margin: 2rem auto;
    flex-direction: column;
    align-items: center;
}
.recommended .reco {
    display: flex;
    align-items: center;
    gap: 27.5rem;
}
.recommended .reco  h3{
    padding: 0.6rem 2rem;
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #FFF;
}

.recommended .reco nav ul{
    display: flex;
    gap: 3.12rem;
    padding: 0.2rem;
    background-color: #FFF;
}

.recommended .reco nav ul li {
    padding: 1rem;
}
.recommended .reco nav ul li.active a {
    color: #E3432B;
    font-weight: 700;
}

.recommended .reco nav ul li a {
    font-family: "Raleway",sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

