<div class="recommended">
    <div class="reco">
        <h3 class="shadow-md rounded-md">Recommended</h3>
        <nav>
            <ul class="shadow-md rounded-xl">
                <li class="active"><a href="#">Men</a></li>
                <li><a href="#">Women</a></li>
                <li><a href="#">Kids</a></li>
            </ul>
        </nav>
    </div>
    <div class="products">
        <div class="items">
            <!--Item 1-->
            <div class="item">
                <div class="image">
                    <img src="../../../assets/item-one.png" alt="item-image">
                </div>
                <div class="price-ratings">
                    <div class="price">
                        <p>Price <span>:</span> <span>$200</span></p>
                    </div>
                    <div class="ratings">
                        <!--1-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--2-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--3-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--4-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                        <!--5-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="half-star">
                                <path id="Vector"
                                    d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                    </div>
                </div>
                <div class="item-desc">
                    <h3>Consectetur Adipisicing Elit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate facilis,
                        aliquam deleniti quod vitae optio provident eaque quo.</p>
                </div>
                <div class="actions">
                    <button class="view">view</button>
                    <button class="add-cart">add to cart</button>
                </div>
            </div>
            <!--Item 2-->
            <div class="item">
                <div class="image">
                    <img src="../../../assets/item-2.png" alt="item-image">
                </div>
                <div class="price-ratings">
                    <div class="price">
                        <p>Price <span>:</span> <span>$200</span></p>
                    </div>
                    <div class="ratings">
                        <!--1-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--2-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--3-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--4-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                        <!--5-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="half-star">
                                <path id="Vector"
                                    d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                    </div>
                </div>
                <div class="item-desc">
                    <h3>Consectetur Adipisicing Elit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate facilis,
                        aliquam deleniti quod vitae optio provident eaque quo.</p>
                </div>
                <div class="actions">
                    <button class="view">view</button>
                    <button class="add-cart">add to cart</button>
                </div>
            </div>
            <!--Item 3-->
            <div class="item">
                <div class="image">
                    <img src="../../../assets/item-three.png" alt="item-image">
                </div>
                <div class="price-ratings">
                    <div class="price">
                        <p>Price <span>:</span> <span>$200</span></p>
                    </div>
                    <div class="ratings">
                        <!--1-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--2-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--3-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>
                        <!--4-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="start -icon">
                                <path id="Vector"
                                    d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                        <!--5-->
                        <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="half-star">
                                <path id="Vector"
                                    d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                    fill="#F79522" />
                            </g>
                        </svg>

                    </div>
                </div>
                <div class="item-desc">
                    <h3>Consectetur Adipisicing Elit.</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate facilis,
                        aliquam deleniti quod vitae optio provident eaque quo.</p>
                </div>
                <div class="actions">
                    <button class="view">view</button>
                    <button class="add-cart">add to cart</button>
                </div>
            </div>
        </div>

        <div class="pagination shadow-md rounded-xl">
            <button class="shadow-md rounded">NEXT</button>
            <p>1</p>
            <button class="shadow-md rounded">PREV</button>
        </div>

    </div>
</div>