<section>
    <div class="recommended">
        <div class="products">
            <div class="recommended-header">
                <h3>Recommended</h3>
                <div>
                    <button>Men</button>
                    <button>Women</button>
                    <button>Kids</button>
                </div>
            </div>
            <ul>
                <li *ngFor="let product of recommendedList">
                    <div class="product-image">
                        <img [src]="product.productUrl" [alt]="product.productName">
                    </div>
                    <div class="ratings">
                        <div class="start-rating">
                            <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                            <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                            <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                            <fa-icon style="color: #F79522;" [icon]="star"></fa-icon>
                            <fa-icon style="color: #F79522;" [icon]="haflIcon"></fa-icon>
                        </div>
                        <p>{{getProductReviewAverage(product) || 0}} of 5 ({{product.reviews?.length || 0}} Reviews )
                        </p>
                    </div>
                    <h2>{{product.price | currency}}</h2>
                    <h3>{{product.productName}}</h3>
                    <div class="actions">
                        <button [routerLink]="['/product-details',product.id]" class="view">view</button>
                        <button class="add-cart">add to cart</button>
                    </div>
                </li>

                <div class="pagination">
                    <button class="prev">PREV</button>
                    <h4>1</h4>
                    <button class="next">NEXT</button>
                </div>
            </ul>
        </div>
        <div class="top-rated">
            <div class="top-rated-nav">
                <h1>TOP 10 SOLD</h1>
                <div> <button>DAILY</button>
                    <button>WEEKLY</button>
                    <button>MONTHLY</button>
                </div>
            </div>
            <table>
                <tbody>
                    <tr *ngFor="let product of topTenProduct; let order = index">
                        <td class="relative">
                            <span
                                class="absolute top-[1rem] left-[-0.7rem] w-[1.4rem] h-[1.4rem] bg-[#181818] rounded-full shadow-md shadow-gray-700 text-[#fff] text-[1rem] ring-2 ring-[#0264BA] font-bold flex items-center justify-center">{{order+1}}</span>
                            <img [src]="product.productUrl" [alt]="product.productName">
                        </td>
                        <td>{{product.productName}}</td>
                        <td>
                            <strong>{{product.rating}}</strong>
                        </td>
                        <td>{{product.price |currency}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="flex space-x-4 p-4 items-center">
                <button
                    class="shadow-md rounded font-bold bg-[#fff] px-4 py-2 ring-1 ring-green-900 hover:bg-[seagreen] hover:text-[#fff] hover:ring-0">PREV</button>
                <p class="text-[1.2rem]">1</p>
                <button
                    class="shadow-md rounded font-bold bg-[#fff] px-4 py-2 ring-1 ring-green-900 hover:bg-[seagreen] hover:text-[#fff] hover:ring-0">NEXT</button>
            </div>
        </div>
    </div>
</section>