<ng-container *ngIf="(products$ |async) as products ">
    <h1>RECENTLY UPDATED</h1>
    <div *ngIf="recentlyUpdated.length>0 then recentlyData; else noData"></div>

    <div class="pagination flex gap-2" *ngIf="recentlyUpdated.length>0">
        <button class="prev">PREV</button>
        <h4>1</h4>
        <button class="next">NEXT</button>
    </div>
</ng-container>

<ng-template #recentlyData>
    <table>
        <tbody>
            <tr *ngFor="let product of recentlyUpdated; let order = index">
                <td class="relative">
                    <img [src]="product.url" [alt]="product.productName">
                </td>
                <td>{{product.productName}}</td>
                <td>
                    <strong>{{product.rating}}</strong>
                </td>
                <td>{{product.price |currency}}</td>
            </tr>
        </tbody>
    </table>
</ng-template>

<ng-template #noData>
    <p class="text-center m-[2rem]">Ther is no recent update products</p>
</ng-template>