.new-arrival{
    display: flex;
    width: 80rem;
    margin: 2rem auto;
    flex-direction: column;

}
.new-arrival .header  h3{
    padding: 0.6rem 2rem;
    font-family: "Raleway",sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #FFF;
    width: 20%;
    margin-left: 6rem;
}