<div class="content shadow-md rounded-xl">
    <div class="modal-body">
        <div class="product-image">
            <img src="../../../assets/item-2-min.png" alt="product image">
        </div>
        <div class="reviews">
            <span>4.6</span>
            <h3>45 Reviews</h3>
            <div class="ratings">
                <!--1-->
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="start -icon">
                        <path id="Vector"
                            d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                            fill="#F79522" />
                    </g>
                </svg>
                <!--2-->
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="start -icon">
                        <path id="Vector"
                            d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                            fill="#F79522" />
                    </g>
                </svg>
                <!--3-->
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="start -icon">
                        <path id="Vector"
                            d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                            fill="#F79522" />
                    </g>
                </svg>
                <!--4-->
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="start -icon">
                        <path id="Vector"
                            d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                            fill="#F79522" />
                    </g>
                </svg>

                <!--5-->
                <svg width="21" height="19" viewBox="0 0 21 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g id="half-star">
                        <path id="Vector"
                            d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                            fill="#F79522" />
                    </g>
                </svg>

            </div>
        </div>
        <div class="desc-price-cart">
            <div class="desc">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus repellat nostrum possimus
                    asperiores quidem cum itaque est tenetur aliquid suscipit expedita, laboriosam aut vel. Vero
                    commodi natus molestiae, porro quibusdam quia veritatis, impedit libero, perferendis possimus
                    inventore voluptates eligendi voluptatem.</p>
            </div>
            <div class="price-cart">
                <h4>$200</h4>
                <button class="shadow-md shadow-gray-400 rounded-2xl ring-1 ring-green-900">Add to cart</button>
            </div>
        </div>

        <div class="add-review">
            <button class="shadow-sm shadow-gray-400" (click)="addReview()">add review</button>
            <div class="user-loggedIn">
                <img class="rounded-full" src="../../../assets/profile.png" alt="profile">
                <h2>Pacifique Twagirayesu</h2>
            </div>
        </div>

        <div class="review-form" *ngIf="addingReview">
            <form>
                <textarea class="ring-1 ring-green-900 shadow-md rounded-xl" placeholder="Add Review"></textarea>
                <button type="button" class="rounded-lg shadow-sm shadow-gray-400">Submit</button>
            </form>
        </div>
        <!--list of reviews-->

        <div class="review-list">
            <ul>
                <li class="shadow-lg shadow-zinc-700 rounded">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                        facilis, aliquam deleniti quod vitae optio provident eaque quo.</p>
                    <div class="reviewer">
                        <img src="../../../assets/profile.png" alt="profile">
                        <h3>Pacifique Twagirayesu</h3>
                        <i> added on : 20/10/2023</i>
                    </div>
                </li>
                <li class="shadow-lg shadow-zinc-700 rounded">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                        facilis, aliquam deleniti quod vitae optio provident eaque quo.</p>
                    <div class="reviewer">
                        <img src="../../../assets/profile.png" alt="profile">
                        <h3>Pacifique Twagirayesu</h3>
                        <i> added on : 20/10/2023</i>
                    </div>
                </li>
                <li class="shadow-lg shadow-zinc-700 rounded">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                        facilis, aliquam deleniti quod vitae optio provident eaque quo.</p>
                    <div class="reviewer">
                        <img src="../../../assets/profile.png" alt="profile">
                        <h3>Pacifique Twagirayesu</h3>
                        <i> added on : 20/10/2023</i>
                    </div>
                </li>
                <li class="shadow-lg shadow-zinc-700 rounded">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                        facilis, aliquam deleniti quod vitae optio provident eaque quo.</p>
                    <div class="reviewer">
                        <img src="../../../assets/profile.png" alt="profile">
                        <h3>Pacifique Twagirayesu</h3>
                        <i> added on : 20/10/2023</i>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="recommended">
        <div class="reco">
            <h3 class="shadow-md rounded-md">Recommended</h3>
        </div>
        <div class="products">
            <ul>
                <!--Item 1-->
                <li>
                    <div class="image">
                        <img src="../../../assets/item-one-min.png" alt="item-image">
                    </div>
                    <div class="price-ratings">
                        <div class="price">
                            <p>Price <span>:</span> <span>$200</span></p>
                        </div>
                        <div class="ratings">
                            <!--1-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--2-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--3-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--4-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                            <!--5-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="half-star">
                                    <path id="Vector"
                                        d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                        </div>
                    </div>
                    <div class="item-desc">
                        <h3>Consectetur Adipisicing Elit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                            facilis,
                            aliquam deleniti quod vitae optio provident eaque quo.</p>
                    </div>
                    <div class="actions">
                        <a [routerLink]="['/product-details/1']" class="view">view</a>
                        <button class="add-cart">add to cart</button>
                    </div>
                </li>
                <!--Item 2-->
                <li>
                    <div class="image">
                        <img src="../../../assets/item-2-min.png" alt="item-image">
                    </div>
                    <div class="price-ratings">
                        <div class="price">
                            <p>Price <span>:</span> <span>$200</span></p>
                        </div>
                        <div class="ratings">
                            <!--1-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--2-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--3-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--4-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                            <!--5-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="half-star">
                                    <path id="Vector"
                                        d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                        </div>
                    </div>
                    <div class="item-desc">
                        <h3>Consectetur Adipisicing Elit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                            facilis,
                            aliquam deleniti quod vitae optio provident eaque quo.</p>
                    </div>
                    <div class="actions">
                        <a [routerLink]="['/product-details/1']" class="view">view</a>
                        <button class="add-cart">add to cart</button>
                    </div>
                </li>
                <!--Item 3-->
                <li>
                    <div class="image">
                        <img src="../../../assets/item-three-min.png" alt="item-image">
                    </div>
                    <div class="price-ratings">
                        <div class="price">
                            <p>Price <span>:</span> <span>$200</span></p>
                        </div>
                        <div class="ratings">
                            <!--1-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--2-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--3-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>
                            <!--4-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="start -icon">
                                    <path id="Vector"
                                        d="M4.325 19L5.95 11.975L0.5 7.25L7.7 6.625L10.5 0L13.3 6.625L20.5 7.25L15.05 11.975L16.675 19L10.5 15.275L4.325 19Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                            <!--5-->
                            <svg width="21" height="19" viewBox="0 0 21 19" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <g id="half-star">
                                    <path id="Vector"
                                        d="M20.5 7.24L13.31 6.62L10.5 0L7.69 6.63L0.5 7.24L5.96 11.97L4.32 19L10.5 15.27L16.68 19L15.05 11.97L20.5 7.24ZM10.5 13.4V4.1L12.21 8.14L16.59 8.52L13.27 11.4L14.27 15.68L10.5 13.4Z"
                                        fill="#F79522" />
                                </g>
                            </svg>

                        </div>
                    </div>
                    <div class="item-desc">
                        <h3>Consectetur Adipisicing Elit.</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Possimus repellendus cupiditate
                            facilis,
                            aliquam deleniti quod vitae optio provident eaque quo.</p>
                    </div>
                    <div class="actions">
                        <a [routerLink]="['/product-details/1']" class="view">view</a>
                        <button class="add-cart">add to cart</button>
                    </div>
                </li>
            </ul>

            <div class="pagination shadow-md rounded-xl">
                <button class="shadow-md rounded">PREV</button>
                <p>1</p>
                <button class="shadow-md rounded">NEXT</button>
            </div>

        </div>
    </div>

</div>