@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::after,*::before{
    box-sizing: border-box;
}

body,h1,h2,h3,h4,h5,h6,p,textarea,blockquote,img{
    margin: 0;
}

ul[role="list"],ol[role="list"]{
    list-style: none;
}

html{
    scroll-behavior: smooth;
}

a:not([class]){
    text-decoration-skip-ink: auto;
}
img,picture{
    max-width: 100%;
    display: block;
}

input,button,textarea,select {
    font: inherit
}

html:focus-within{
    scroll-behavior: smooth;
}

body{
    background: #F3F4F6;
    color: #1F1A1A;
}

.img-center{
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

button{
    cursor: pointer;
}

.router-link-active{
    background-color: #214E34;
    color: #f4f4f5;
}

/* products */
.products {
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    align-items: flex-end;
}
.products ul {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem;
    gap: 2.5rem;
}
.products ul li{
    padding: 1.25rem 0.625rem;
    margin: 0;
    border-radius: 0.3125rem;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.products ul li:hover{
    background-color: #E5E2E0;
}
.products ul li .image{
    display: flex;
    justify-content: center;
    position: relative;
}

.products ul li .image span {
    position: absolute;
    padding: 0.3rem 2rem;
    background-color: #E3432B;
    color: #f4f4f5;
    left: 1.4rem;
    bottom: 0.1rem;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Poppins",sans-serif;
}
.products ul li .image img{
    width: 19.1875rem;
    height: 10.875rem;

}
.products ul li .price-ratings{
    display: flex;
    gap: 1rem;
    padding: 0.4rem 1rem;
    align-items: center;
    justify-content: center;
}

.products ul li .price-ratings strong{
    font-weight: 700;
    font-family: "Poppins",sans-serif;
    color: #f52303;
}

.products ul li .price-ratings .price p{
    color: #000;
    font-family: "Poppins",sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.products ul li .price-ratings .ratings{
    display: flex;
 
}

.products ul li .price-ratings .ratings svg{
    width: 1.25rem;
    height: 1.1875rem;
}

.item-desc{
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    gap: 1rem;
    padding: 0.5rem;
    padding: 1.25rem;
}

.item-desc h3{
    color: #000;
    font-family: "Poppins",sans-serif;
    font-size: 1.17rem;
    font-weight: 700;
}
.item-desc p {
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 1.125rem;
    font-weight: 400;
}
.actions{
    display: flex;
    justify-content: center;
    gap: 2.69rem;
}

.actions button,.actions a{
    padding: 0.62rem 2.5rem;
}
.actions a.view{
    border-radius: 0.3125rem;
    border: 1px solid #214E34;
    background: #FFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}
.actions button.add-cart{
    border-radius: 0.3125rem;
    background: #F4FDFF;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 1.25rem;
    font-weight: 500;
}
.products .pagination{
    display: flex;
    gap: 1rem;
    background: #E5E2E0;
    align-items: center;
    padding: 1rem 2rem;
    margin-right: 2rem;
    margin-top: -1rem;
}

.pagination button{
    padding: 0.3rem 0.6rem;
    background: #FFF;
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 1rem;
    font-weight: 600;
}
.pagination p{
    color: #000;
    font-family: "Raleway",sans-serif;
    font-size: 1.3rem;
    font-weight: 500;

}

/* custom-modal */
.custom-modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1000;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}